@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
  font-family: 'Unilab';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/Unilab.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background: #D9D9D9;
  height: 100%;
  font-family: 'Noto Sans KR' !important;
}

#root {
  height: 100%;
}

.base-lay-out {
  max-width: 30rem;
  margin: 0 auto;
  width: calc(100% - 2.6rem);
  padding: 1rem 1.3rem 0 1.3rem;
  text-align: center;
  background: white;
  border-radius: 0.5rem;
  height: calc(100% - 1rem);
}

.date-and-todo-count {
  text-align: left;
}

.date-title {
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.data-day {
  margin: 0.5rem 0;
  color: #757575;
}

.remain-todo-count {
  margin-top: 4rem;
  color: #3DB2E5;
  font-weight: bold;
}

.todo-list-ul {
  text-align: left;
  margin-top: 3rem;
}

.login-title {
  font-weight: bold;
  font-size: 2rem;
  color: #3DB2E5;
}

.login-made-by {
  font-size: 0.7rem;
  margin-top: 1rem;
  color: #ccc;
}

.login-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.login-inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.kakao-login {
  margin-top: 2.5rem;
  width: 10rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #fff;
  background: #FDCF00;
  border: 1px #FDCF00 solid;
  cursor: pointer;
}

.calendar-header {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  position: relative;
}

.menu {
  color: #338db5;
  font-size: 1.7rem;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 0.6rem;
  position: absolute;
  left: 0;
}

.calendar-wrapper {
  margin-top: 1.5rem;
}

.calendar-year {
  color: rgb(120, 120, 120);
  font-family: 'GmarketSansLight';
}

.calendar-month {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'GmarketSansLight';
}

.calendar-days-wrapper {
  text-align: left;
  margin-top: 3rem;
}

.calendar-days {
  width: 14.28%;
  display: inline-block;
  height: 4.5rem;
  background-color: #fff;
  overflow: hidden;
}

.calendar-todo-list {
  margin-top: 0.5rem;
}

.calendar-todo-list li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.4rem;
  margin: 0.25rem 0;
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: bold;
}

.calendar-day-of-week-wrapper {}

.calendar-day-of-week-ul {
  width: 100%;
  margin-bottom: 1rem;

}

.calendar-day-of-week-ul::after {
  clear: both;
  display: block;
  content: "";
}

.calendar-day-of-week-ul li {
  float: left;
  width: 14.28%;
  font-weight: bold;
  font-family: 'GmarketSansLight';
}

.calendar-day-of-week-ul li.saturday {
  color: #338db5;
}

.calendar-day-of-week-ul li.sunday {
  color: #338db5;
}

.last-month-day {
  color: #ccc;
}

.month-to-prev {
  float: left;
}

.month-to-next {
  float: right;
}